@{
    
}

<div ng-app>
    <div class="controllerScope" ng-controller="LoginController">
        <input type="email" ng-model="AuthenticationFM.Email" />
        <input type="password" ng-model="AuthenticationFM.Password" />
    </div>
</div>