<link href="~/Content/chessboard.css" rel="stylesheet" />
<link href="~/Content/pieces.css" rel="stylesheet" />
<div class="gameboard container">
    <div class="boardrow"></div>
    <div class="boardrow"></div>
    <div class="boardrow"></div>
    <div class="boardrow"></div>
    <div class="boardrow"></div>
    <div class="boardrow"></div>
    <div class="boardrow"></div>
    <div class="boardrow"></div>
</div>
@section scripts{
<script src="~/Scripts/chess_renderer.js"></script>
}